{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Cachina</title>

        <!-- Styles -->
        <link
            href="{%static 'anunciosCachinaApp/css/style.css' %}"
            rel="stylesheet"
        />

        <!--Tailwind-->
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>

    <body>
        <!-- component -->
        <!-- This is an example component -->
        <div
            class="w-full flex flex-row items-center p-1 justify-between bg-white shadow space-x-4 px-6"
        >
            <div class="text-gray-700">
                <a href="{%url 'Home'%}">
                    <img
                        src="{%static 'anunciosCachinaApp/img/Logo.svg' %}"
                        alt=""
                        width="100px"
                    />
                </a>
            </div>

            <!-------------------------->
            <div
                class="w-3/4 md:w-1/2 h-10 cursor-pointer text-sm flex items-center"
            >
                <div class="dropdown hidden md:block mr-4 relative">
                    <button
                        class="text-gray-700 py-4 px-4 flex items-center focus:text-yellow-600 hover:text-yellow-600"
                    >
                        <span>Categorias</span>
                    </button>
                    <div class="nav-container absolute hidden">
                        <div class="flex">
                            <ul class="dropdown-content text-gray-700 pt-1">
                                {%for c in categorias%}
                                <li>
                                    <a
                                        class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                        href="#"
                                        >{{c.nombre}}</a
                                    >
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>

                <form
                    class="w-full h-10 cursor-pointer border border-gray-300 text-sm rounded-full flex"
                >
                    <div class="m-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="hover:text-yellow-500"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                            />
                        </svg>
                    </div>
                    <input
                        type="text"
                        name="search"
                        placeholder="Buscar anuncio"
                        class="flex-grow px-4 pl-2 rounded-l-full rounded-r-full text-sm focus:outline-none"
                    />
                </form>
            </div>

            {% if user.is_authenticated %}
            <div
                class="flex flex-row hidden md:flex space-x-2 text-center text-sm"
            >
                <div class="flex items-center text-gray-700 px-2 py-2">
                    <a href="{%url 'signUp'%}" class="hover:text-yellow-600"
                        >Mis anuncios</a
                    >
                </div>
                <div class="flex justify-center text-gray-100 px-2 py-2">
                    <a href="#" class="self-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="text-gray-600 hover:text-yellow-600"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
                            />
                        </svg>
                    </a>
                </div>
                <div
                    class="flex justify-center rounded-full bg-blue-500 text-gray-700 w-10 h-10 px-2 py-2"
                >
                    <a
                        href="{%url 'logOut'%}"
                        class="self-center text-center text-xl font-semibold text-gray-100"
                        >{{user.username | first | upper}}</a
                    >
                </div>
            </div>
            {% else %}
            <div class="flex flex-row hidden md:flex space-x-2 text-center">
                <a
                    class="rounded text-gray-700 border border-gray-500 px-2 lg:px-4 py-2"
                    href="{%url 'signUp'%}"
                >
                    <span> Registrarse </span>
                </a>
                <a
                    class="rounded text-gray-100 bg-yellow-500 px-2 lg:px-4 py-2"
                    href="{%url 'signIn'%}"
                >
                    <span> Iniciar sesión </span>
                </a>
            </div>
            {% endif %}

            <!--Toggle button-->
            <div class="flex flex-row-reverse mr-4 ml-4 md:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-list"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                    />
                </svg>
            </div>
        </div>
        
        {%block container%} {%endblock%}

    </body>
</html>
