{% extends "anunciosCachinaApp/base.html" %} {%block container%}

<div class="flex">
    <div class="w-full flex-1">
        <div class="mx-7">
            <div class="pt-4 pl-2 font-semibold">MIS ANUNCIOS</div>
        </div>
        <div class="my-4 mx-8">
            <ul>
                <div class="flex flex-col space-y-5">
                    {%for anuncio in anuncios%}
                    <div class="h-40 w-full rounded shadow bg-white flex">
                        <div class="flex flex-1">
                            <div class="h-40 w-40 bg-gray-200 flex p-2">
                                <span class="self-center">{{anuncio.fecha_creation}}</span>
                            </div>
                            <div class="h-40 w-40">
                                <a href="{{anuncio.imagen.url}}" target="_blank">
                                    <img
                                        src="{{anuncio.imagen.url}}"
                                        alt=""
                                        class="h-40 w-40 object-cover"
                                    />
                                </a>
                            </div>
                            <div class="flex p-2"><span class="self-center">{{anuncio.nombre}}</span></div>
                            <div class="flex"><span class="self-center">S/ {{anuncio.getPrecio}}</span></div>
                        </div>
                        <div class="flex flex-col text-center space-y-4 m-4 justify-center">
                            <a
                                href="{%url 'postUpdate' anuncio.id%}"
                                class="p-2 bg-blue-600 rounded text-white"
                                >Editar</a
                            >
                            <a
                                href="{%url 'postDelete' anuncio.id%}"
                                class="p-2 bg-red-500 rounded text-white"
                                >Eliminar</a
                            >
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </ul>
        </div>
    </div>
</div>

{%endblock%}
