{% extends "anunciosCachinaApp/base.html" %} 
{%block container%}

<div class="w-full px-4 sm:px-16">
    <div class="grid-anounce m-2 grid grid-cols-2 sm:grid-cols-4 gap-4">
        {%for anuncio in anuncios%}
        <div class="flex relative">
            <a href="{%url 'viewAnuncio' anuncio.id%}">
                <div class="max-w-xs rounded overflow-hidden shadow-lg my-2">
                    <img src="{{anuncio.imagen.url}}" alt="" class="w-full">
                    <div class="px-6 py-1">
                        <div class="font-bold text-base font-sans">
                            <span>S/ {{anuncio.precio}}</span>
                        </div>
                        <div class="font-bold text-base font-sans">
                            <span>{{anuncio.nombre}}</span>
                        </div>
                    </div>
                    <div class="px-6 py-1 pb-2">
                        <span
                            class="inline-block bg-grey-lighter rounded-full text-sm font-semibold text-grey-darker mr-2"
                        >
                            {{anuncio.ubicacion}}
                        </span>
                        <span
                            class="inline-block bg-grey-lighter rounded-full text-sm font-semibold text-grey-darker mr-2"
                        >
                            {{anuncio.fecha_creation}}
                        </span>
                        <span
                            class="inline-block bg-grey-lighter rounded-full text-sm font-semibold text-grey-darker mr-2"
                        >
                            {{anuncio.author.username}}
                        </span>
                    </div>
                </div>
            </a>
            
            <a href="{%url 'postDelete' anuncio.id%}" class="p-2 bg-red-300">Eliminar</a>
            <a href="{%url 'postUpdate' anuncio.id%}" class="p-2 bg-green-300">Editar</a>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}
