{% extends "anunciosCachinaApp/base.html" %} {%block container%}
    <div class="mx-16 my-12">
        <div class="flex space-x-4">
            <div class="border border-gray-200">
                <div class="max-w-5xl">
                    <img
                        class="w-full"
                        src="https://tailwindcss.com/img/card-top.jpg"
                        alt="Sunset in the mountains"
                    />
                </div>
                <div class="max-w-5xl">
                    <div>
                        <div>Descripción</div>
                        <div>{{anuncio.descripcion }}</div>
                    </div>
                </div>
            </div>
            <div class="flex-grow">
                {{anuncio.nombre}}
            </div>
        </div>
    </div>
{%endblock%}
