
.nav-container{
	width: 26rem;
	min-height: 40rem;
}

.dropdown-content{
	width: 26rem;
}

.dropdown:hover .nav-container {
	display: block;
}
.dropdown:hover .nav-container> .dropdown-content {
	display: block;
}