{% extends "userApp/baseLogin.html" %} 
{% load static %} 
{%block description_page%}Crea tu cuenta{%endblock%}
{%block content_form%}
<div class="form_scroll">
    <form class="text-center" method="post">
        {% csrf_token %}
        <div class="py-2">
            <div class="relative text-left">
                <input
                    required
                    type="text"
                    class="
                        label-issuing
                        border
                        outline-none
                        w-full
                        p-3.5
                        rounded-lg
                        focus:border-blue-500
                    "
                    id="username"
                    name="username"
                    autofocus
                />
                <label
                    class="
                        px-2
                        label-receiver
                        absolute
                        pointer-events-none
                        text-gray-500
                        z-10
                    "
                    for="username"
                >
                    Nombre de usuario
                </label>
            </div>
        </div>
        <div class="py-2">
            <div class="relative text-left">
                <input
                    required
                    type="email"
                    class="
                        label-issuing
                        border
                        outline-none
                        w-full
                        p-3.5
                        rounded-lg
                        focus:border-blue-500
                    "
                    id="email"
                    name="email"
                    placeholder="Correo electrónico"
                    au
                />
                <label
                    class="
                        px-2
                        label-receiver
                        absolute
                        pointer-events-none
                        text-gray-500
                        z-10
                    "
                    for="username"
                    for="email"
                    >Correo electrónico</label
                >
            </div>
        </div>
        <div class="py-2">
            <div class="relative text-left">
                <input
                    required
                    type="password"
                    class="
                        label-issuing
                        border
                        outline-none
                        w-full
                        p-3.5
                        rounded-lg
                        focus:border-blue-500
                    "
                    id="password1"
                    name="password1"
                />
                <label
                    class="
                        px-2
                        label-receiver
                        absolute
                        pointer-events-none
                        text-gray-500
                        z-10
                    "
                    for="password1"
                    >Contraseña</label
                >
            </div>
            <div class="py-1 text-left text-sm text-gray-500 flex">
                <span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        fill="currentColor"
                        class="bi bi-info"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                        />
                    </svg>
                </span>
                <span>La contraseña debe contener al menos 6 caracteres.</span
                >
            </div>
        </div>
        <div class="py-2">
            <div class="relative text-left">
                <input
                    required
                    type="password"
                    class="
                        label-issuing
                        border
                        outline-none
                        w-full
                        p-3.5
                        rounded-lg
                        focus:border-blue-500
                    "
                    id="password2"
                    name="password2"
                />
                <label
                    class="
                        px-2
                        label-receiver
                        absolute
                        pointer-events-none
                        text-gray-500
                        z-10
                    "
                    for="password2"
                    >Confirmar contraseña</label
                >
            </div>
        </div>
        <div class="py-2">
            <button
                type="submit"
                class="
                    bg-blue-500
                    w-full
                    p-2
                    rounded-lg
                    hover:bg-blue-600
                    focus:outline-none
                "
            >
                <div class="text-white font-bold tracking-wider">
                    INICIAR SESIÓN
                </div>
            </button>
        </div>
    </form>

    <div class="text-center mt-8">
        <span> ¿Ya tienes una cuenta? </span>
        <a
            href="{%url 'signIn'%}"
            class="
                font-light
                text-md text-indigo-600
                font-semibold
                hover:text-indigo-800
            "
            >Inicia sesión</a
        >
    </div>
</div>
{%endblock%}
